# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django database
db.sqlite3

# Django migrations cache
*/migrations/__pycache__/
*/__pycache__/

# Virtual environment
env/
venv/
ENV/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Static and media
staticfiles/
media/

# Local settings
local_settings.py
